apiVersion: batch/v1
kind: Job
metadata:
  name: createbuckets
spec:
  template:
    spec:
      containers:
      - name: mc
        image: minio/mc
        command: ["/bin/sh", "-c"]
        args:
          - >
            until (/usr/bin/mc alias set myminio http://minio:9000 admin password123) do echo '...waiting...' && sleep 1; done;
            /usr/bin/mc mb myminio/candidates-cv;
            /usr/bin/mc anonymous set download myminio/candidates-cv;
            exit 0;
      restartPolicy: OnFailure
